@using VehicleRentingSystem.Models.Trucks
@model TruckViewModel

@{
    ViewBag.Title = "Vehicles for Renting";
}

<div class="text-center row">
    <div>
        <img src="@Model.ImageUrl" alt="Book Image">
        <div>

            <h5>Model:@Model.Brand</h5>
            <p>Price/H: @Model.PricePerHour$</p>
            <p>Power: @Model.Power</p>
            <p>MaxWeight: @Model.MaxWeight</p>
        </div>
    </div>
</div>
